{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
{% endblock %}

{% block content %} 

<div class="container text-center ">
    Welcome {{current_user.username}}.
    <h3>Checkout the following pitch categories</h3>
    <div class="container text-center m-5">
        <div class="row">
            <div class="col-md-12 m-5 bg-warning"> 
                {% for pitch in pitches %}
                    <h1>{{pitch.category}}</h1>
                    <h2>{{pitch.title}}</h2>
                    <p>{{pitch.pitches}}</p>
                    <a href="/comment/"><input type="button" value="Add A Comment"></a> 
                    <a href="/view/"><input type="button" value="View Comment"></a> 

                {% endfor %}
                
            </div>
        </div>
    </div>
    <a href="/pitch/"><input type="button" value="Add A New Pitch"></a>
</div>

{% endblock %}